@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

body {
  background: linear-gradient(90deg, #bf4222, #e30f87);
  padding: 20px;
}

.container-all {
  width: 100%;
 max-width: 1000px; 
  height: 620px;
  margin: auto;
  margin-top: 25px;
  display: flex;
  border-radius: 20px;
  overflow: hidden;
}

.ctn-form {
  width: 80%;
  padding: 20px 40px 20px 40px;
  background: #f7f7f7;
}

.logo {
  width: 140px;
  display: block;
  margin: auto;
}

.title {
  text-align: center;
  margin-top: 20px;
  font-weight: 300;
  color: #7a7a7a;
}

label {
  display: block;
  margin-top: 30px;
  font-size: 20px;
  font-weight: 300;
  color: #7a7a7a;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  height: 30px;
  background: rgba(0, 0, 0, 0);
  border: 0px;
  outline: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  color: #7a7a7a;
  font-size: 16px;
}

input[type="submit"] {
  width: 100%;
  height: 50px;
/*   margin-top: 20px;  */
  color: white;
  border: 0px;
  background: linear-gradient(90deg, #bf4222, #e30f87);
  font-weight: 300;
  cursor: pointer;
  font-size: 18px;
}

input[type="submit"]:hover {
  background: linear-gradient(90deg, #e30f87, #bf4222);
}

.text-footer {
  margin-top: 7px;
  display: block;
  text-align: center;
  color: #7a7a7a;
  font-weight: 300;
}

.text-footer a {
  color: #029ee1;
  font-weight: 500;
}

/* Lado Derecho */

.ctn-text {
  width: 100%;
  background-image: url(../img/form-background.jpg);
  background-position: center;
  background-size: cover;
  padding: 40px;
  position: relative;
}

.capa {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, #e30f87, #bf4222);
  opacity: 0.8;
}

.title-description {
  position: relative;
  top: 80px;
  color: white;
  font-weight: 300;
  font-size: 40px;
}

.text-description {
  position: relative;
  top: 110px;
  color: white;
  font-weight: 200;
  font-size: 18px;
}

/* Responsive */

@media screen and (max-width: 800px) {
  .ctn-text {
    display: none;
  }
  .ctn-form {
    margin: auto;
    width: 100%;
    background: white;
  }
}


/* PARTICULAR CHANGES */
/* LOGIN */
.submit-login{
  margin-top: 50px;
}


/* REGISTER */
.last-child{
  margin-bottom: 20px;
}

.label{
  margin-top: 15px;
}
.text-footer-registration{
  margin-top: 10px;
}