body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-image: linear-gradient(5deg, #003549 0, #003342 6.25%, #002f3a 12.5%, #002a32 18.75%, #012529 25%, #061f20 31.25%, #061817 37.5%, #030f0e 43.75%, #000000 50%, #000000 56.25%, #000000 62.5%, #000000 68.75%, #000000 75%, #000000 81.25%, #000000 87.5%, #000000 93.75%, #000000 100%);
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 100px;
}
* {
    box-sizing: border-box;
}
.contenedor{
    width: 100%;
    padding: 15px;
}
.formulario{
    background: #fff;
    margin-top: 150px;
    padding: 3px;
    border: 1px solid #000000;
}
h1{
    text-align: center;
    color: #000000;
    font-size: 40px;
}
input[type="text"],
input[type="password"]{
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
}
.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaa;
}
.icon{
    width: 50px;
    text-align: center;
    color: #999;
}
.button{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background:  #1a2537;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
    background: rgb(61, 123, 148);
}
p{
    text-align: center;
}
.link{
    text-decoration: none;
      color: #1a2537;
    font-weight: 600;
}
.link:hover{
     color: cadetblue;
}

@media(min-width:768px)
{
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 100px;
        margin-bottom: 100px;
        border-radius: 2%;
    }
    .formulario{
        background: #fff;
        margin-top: 150px;
        padding: 3px;
    }
    h1{
        text-align: center;
        color: #1a2537;
        font-size: 40px;
    }
    input[type="text"],
    input[type="password"]{
        font-size: 20px;
        width: 82%;
        padding: 10px;
        border: none;
    }
    .input-contenedor{
        margin-bottom: 15px;
    }
    .icon{
        width: 50px;
        text-align: center;
        color: #999;
    }
}

@media(min-width:368px)
{
    .formulario{
        margin: auto;
        width: 80%;
        margin-top: 50px;
    }
    input[type="text"],
    input[type="password"]{
    font-size: 15px;
    width: 80%;
    border: none;
    margin: 0;
}
.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaa;
    display: flex;
}
.icon{
    width: 20%;
    justify-content: center;
    color: #999;
    font-size: 25px;
    margin-top: 4px;
}
.icon::before{
    justify-content: center;
}
}

@media(min-width:768px)
{
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 100px;
        border-radius: 2%;
    }
    h1{
        text-align: center;
        color: #1a2537;
        font-size: 40px;
    }
    input[type="text"],
    input[type="password"]{
        font-size: 20px;
        width: 100%;
        padding: 10px;
        border: none;
    }
    .input-contenedor{
        margin-bottom: 15px;
        border: 1px solid #aaa;
    }
    .icon{
        width: 50px;
        text-align: center;
        color: #999;
    }
}



























